body {
  margin: 0;
}

.web-container {
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url("./images/restaurant-proj-banner.jpg");
  background-size: cover;
  height: 200px;
  padding-top: 0px;
  position: relative;
  padding-bottom: 50px;
  background-position: center;
}

.hero-text-container {
  position: absolute;
  color: white;
  font-family: "Smythe", sans-serif;
  font-size: 30px;
  margin: 50px auto 50px 75px;
}

.hero-text-main {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.hero-text-sub {
  margin-top: 0px;
  font-weight: lighter;
}

.web-content{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;
}

.item{
  display: flex;
  align-items: center;
  border-bottom: 2px solid #D2D2D2;
  width: 85
}

.item-icon{
  font-size: 78px;
}

.item-text{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.item-title, item-desc, item-price{
  font-family: 'Smythe', sans-serif;
}

.item-title{
  font-size: 28px;
  margin-bottom: 0;
}

.item-desc{
  margin-top: 0;
  padding-top: 10px;
  font-size: 16px;
  color: #8B8B8B;
}

.plus{
  margin-left: auto;
  background: none;
  border-radius: 50%;
  border: 1px solid #DEDEDE;
  width: 60px;
  height: 60px;
  font-size: 32px;
  font-weight: 200;
  font-family: 'Inter', sans-serif;
}

.checkout-section{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}

.checkout-header{
  text-align: center;
  font-family: 'Smythe', sans-serif;
  font-weight: 400;
}

.checkout-items{
  display: flex;
  flex-direction: column;
}

.check-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.check-item p{
  margin: 0px;
}

.check-name{
  display: flex;
  font-size: 28px;
  font-family: 'Smythe', sans-serif;
}

.check-remove{
  margin-left: 10px;
  color: #BBBBBB;
}

.check-price{
  margin-left: auto;
  font-family: 'Smythe', sans-serif;
  font-size: 20px;
}

.total-price{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.total-price p{
  margin: 0;
}

.complete-order{
  background: #16DB99;
  padding: 20px 0;
  margin: 30px 0 40px 0;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 16px;
}
