.item-section{
    display: flex;
    font-family: 'Smythe', sans-serif;
    font-weight: 400px;
    border-bottom: 1px solid #D2D2D2;
    margin: auto;
    padding: 100px 0 50px 0;
    width: 85%;
}

.item-section-icon{
    font-size: 100px;
}

.item-section-text-container{
    font-size: 40px;
    margin: 20px;
}

.item-section-sub{
    color: #8B8B8B;
    font-size: 20px;
    margin-top: 5px;
}

.item-section-cost{
    margin-top: 15px;
    font-size: 25px;
}

.pizza-plus{
    margin: 30px 0 30px auto;
    padding: 30px 30px;
    border-radius: 30px;
}